/* BASIC CONFIGURATION */

body {
  background-image: "../img/Laboratoria-4.jpg";
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.col {
  padding: 0;
  margin: 0;
}

/* NAVBAR */
.bg-yellow {
  background-color: #FFE521;
}

.btn-search:hover {
  background-color: rgb(86, 248, 154, 0.4);
}

#students-container {
  overflow: scroll;
  height: 27em;
  text-align: center;
  display: none;
}


#cohortStyle {
  display: none;
  overflow: scroll;
  height: 5%;
  width: 100%;
}

/* COHORTS LIST
.cohort-green {
  background-color: rgb(86, 248, 154, 0.4);
  color: #000;
  padding: 5px;
  margin: 5px;
}
*/

/* COHORT PREVIEW 
.cohort-info-color {
  background-color: rgb(86, 248, 154, 0.4);
  color: #000;
  padding: 10px;
  margin: 5px;
}

.students-list-color {
  background-color: rgb(255, 0, 158, 0.4);
  color: #000;
  padding: 5px;
  margin: 5px;
}

.courses-list-color {
  background-color: rgb(255, 229, 33, 0.4);
  color: #000;
  padding: 5px;
  margin: 5px;
}
*/